.button_wrappper {
  border: 1.5px solid #151a01;
  height: 50px;
  z-index: 0;
  margin-top: -4.38rem;
}

.btn {
  width: 100%;
  height: 52.2px;
  padding: 0 20px;
  margin: 19px 0;
  background: #151a01;
  border: 1.5px solid #151a01;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transform: translate(-5px, -5px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 16px;
}
.btn:hover {
  transform: translate(0rem, 0.4px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-right-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease-in-out infinite;
}
@keyframes button-loading-spinner {
  from {
      transform: rotate(0turn);
  }
  to {
      transform: rotate(1turn);
  }
}
