.search_btn {
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #292a2b;
  border: 2.5px solid #7c7c7c;
  gap: 10px;
  max-width: 150px;
}
.input_btn {
  background: #292a2b;
  border: none;
  color: #7c7c7c;
  padding: 15px 20px;
  outline: none;
  font-size: medium;
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .search_btn {
    max-width: 200px;
  }
}
